.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: auto;
  height: auto;
}

.outer-image-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image-scale {
    width: 30%;
    height: auto;
}

.image-container:nth-child(1) {
  transform: translateX(90%) translateY(50%);
}
.image-container:nth-child(2) {
  transform: translateX(-50%) translateY(-10%);
}
.image-container:nth-child(3) {
  transform: translateX(20%) translateY(50%);
}
.image-container:nth-child(4) {
  transform: translateX(-25%) translateY(10%);
}
.image-container:nth-child(5) {
  transform: translateX(50%) translateY(10%);
}
.image-container:nth-child(6) {
  transform: translateX(-150%) translateY(20%);
}
.image-container:nth-child(7) {
  transform: translateX(60%) translateY(-20%);
}
