.skill-item:hover {
  background-color: #2196f3;
  color: #fff;
  transform: scale(1.2);
}

$sphereDiameter: 300px;

#sphere {
  height: $sphereDiameter;
  width: $sphereDiameter;
  display: flex;
  flex: 1;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  z-index: 1;
  margin-left: -$sphereDiameter / 2;
  border-radius: 100%;
  transform-style: preserve-3d;
  animation: 5s rotateSphere linear infinite;
  div {
    display: block;
    &:nth-child(1) {
      transform: rotateY(10deg);
    }
    &:nth-child(2) {
      transform: rotateY(20deg);
    }
    &:nth-child(3) {
      transform: rotateY(30deg);
    }
    &:nth-child(4) {
      transform: rotateY(40deg);
    }
    &:nth-child(5) {
      transform: rotateY(50deg);
    }
    &:nth-child(6) {
      transform: rotateY(60deg);
    }
    &:nth-child(7) {
      transform: rotateY(70deg);
    }
    &:nth-child(8) {
      transform: rotateY(80deg);
    }
    &:nth-child(9) {
      transform: rotateY(90deg);
    }
  }

  p{
    font-size: 1.5rem;
    display: list-item;
  }
}

@keyframes rotateSphere {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }
  100% {
    transform: rotateX(0deg) rotateY(360deg);
  }
}
