.nav-bar {
  display: flex;
  flex-direction: row;
  color: #fff;
  padding: 0 20px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.spacer {
  flex: 1;
}
ul {
  padding: 0px;
  margin: 0px;
  display: flex;
  list-style: none;
  list-style-type: none;
  align-items: center;
}

.nav-bar li {
  margin: 0 10px;
  padding: 0px;

}
.nav-bar ul li {
  transition: all 0.3s ease-in-out;
}

.nav-bar ul li.active-route {
  transform: scale(1.1);
}

li p {
  text-transform: uppercase;
  cursor: pointer;
}

.nav-bar > h2 {
  margin: 0px;
  padding: 0px;
}
