* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins';
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

/* For WebKit */
::-webkit-scrollbar {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins';
}

p {
  font-size: 1rem;
  font-weight: 300;
}
h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  font-weight: 400;
  text-transform: uppercase;
}

.container {
  flex-basis: 50%;
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.inner-container {
  display: flex;
  height: 100vh;
}

.right-inner-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  margin-left: 50px;
  margin-right: 50px;
}

.right-panel-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.panel-right {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  scroll-snap-align: start;
  justify-content: center;
}

.panel-left {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 5vh;
  padding-bottom: 5vh;
  padding-right: 5vw;
  scroll-snap-align: start;
}

@media only screen and (max-width: 768px) {
  .inner-container {
    flex-direction: column;
  }
  .panel-left {
    order: 0;
    padding: 0px;
  }
  .panel-right {
    order: 1;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  h1 {
    font-size: 2rem;
  }
}
